body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.banner {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

.banner .left-links,
.banner .right-links {
  display: flex;
  gap: 15px;
}

.banner a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.banner .center-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
}

.welcome-message {
  padding-top: 70px; 
}

.right-links {
  margin-right: 35px;
  padding: 5px;
}

.welcome-text {
  font-size: 18px;
  text-align: center;
  
  border-top: 15px;
  border-bottom: 15px;
}


.buttons-exclusive {
      display: flex;
      gap: 10px;
      justify-content: center
      
    }

.select-button {
  padding: 10px 20px;
  border: 2px solid #007BFF;
  background-color: white;
  color: #007BFF;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
    }


.select-button.active {
  background-color: #007BFF;
  color: white;
  border-color: #0056b3;
}

.question {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}


.buttons-exclusive,
.buttons-dynamic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}
